# Copy this to .env and fill in your values
PORT=5000
MONGO_URI=mongodb+srv://webnewbie14:Lbryc2026abc@lbryccluster.gvli6n1.mongodb.net/lbryc?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret_string_at_least_32_chars
JWT_EXPIRE=7d
NODE_ENV=production
FRONTEND_URL=https://lbryc.vercel.app

# Cloudinary — get these from your Cloudinary dashboard (Settings > Access Keys)
CLOUDINARY_CLOUD_NAME=dbjgeqmz1
CLOUDINARY_API_KEY=464247447875688
CLOUDINARY_API_SECRET=omNxB7o-JEUOWOtXoA2Ygnw1sUU
